.container{
    display: flex;
    background-color: gray;
    
}
.card{
    display: flex;
    background-color: rgb(255, 255, 255);
}
img{
    width: 350px;
}
h6{
    font-size: 50px;
}
p{
    font-size: 35px;
}
button{
    font-size: 35px;
    background-color: black;
    color: aliceblue;
    border: 3px solid rgb(255, 0, 0);
}
body{
   background-color: brown;
}
h2{
    font-family: "Imperial Script", serif;
    font-weight: 400;
    font-style: normal;
  }
